.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 25rem;
  min-height: 100vh;
  font-family: sans-serif;
  background-color: #264653;
  color: #fff;
}
.navContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 1rem;
  align-items: center;
  /* justify-content: flex-start; */
}

.resumeName {
  color: #fff;
  font-size: 3rem;
  padding-right: 2rem;
  align-self: flex-start;
}

.navLink {
  font-size: 1.75rem;
  text-decoration: none;
  color: #fff;
  padding: 1rem;
}

.downloadPDF {
  color: #e9c46a;
  font-size: 1.75rem;
  text-decoration: none;
}

.sectionHead {
  color: #f4a261;
  font-size: 2rem;
  padding: 1.5rem;
}

.subheading {
  color: #f4a261;
}

.skills {
  color: #fff;
}

.skillsList {
  list-style: none;
  font-size: 1.25rem;
}

.workExp {
  font-size: 1.25rem;
}

.education {
  font-size: 1.25rem;
  padding-left: 2rem;
}

.indent1 {
  margin: 0 2rem;
}

.indent2 {
  margin: 0 2rem;
}

.textSection {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.workRole {
  padding-left: 2rem;
}

.imgOutline {
  filter: drop-shadow(1px 1px 0.75px #fff) drop-shadow(1px -1px 0.75px #fff)
    drop-shadow(-1px 1px 0.75px #fff) drop-shadow(-1px -1px 0.75px #fff);
}
