.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  min-height: 100vh;
  font-family: sans-serif;
  background-color: #264653;
  color: #fff;
}

.resumeName {
    display: flex;
    flex-direction: row;
  color: #fff;
  font-size: 3rem;
  align-items: center;
}

.sectionHead {
  color: #f4a261;
  font-size: 2rem;
  padding: 1.5rem;
}

.skills {
  color: #fff;
}

.skillsList {
  list-style: none;
  font-size: 1.25rem;
}

.workExp {
  font-size: 1.25rem;
}

.education {
  font-size: 1.25rem;
  padding-left: 2rem;
}

.indent1 {
  margin: 0 2rem;
}

.indent2 {
  margin: 0 2rem;
}

.textSection {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.workRole {
  padding-left: 2rem;
}

.imgOutline {
  filter: 
    drop-shadow(1px 1px .75px #fff)
    drop-shadow(1px -1px .75px #fff)
    drop-shadow(-1px 1px .75px #fff)
    drop-shadow(-1px -1px .75px #fff);
}
